
body{
    background-color: #282a36;
}

#showtime{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
    color:   #66ff99;;
    font-family: sans-serif;
    font-size: 40px;
    font: bold;

}
