@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.middle {
    background-color: black;
    border: plum 2px solid;
    border-radius: 20px;
}

#name {
    color: white;
}

#button {
    width: 30%;
    height: 40px;
    background-color: rgb(219, 16, 60);
    color: white;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

#button:hover {
    transition-delay: 0.2s;
    background-color: rgb(35, 200, 35);
}