@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

body {
  background-color: rgb(49, 112, 102);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#number {
  font-family: "Mukta", sans-serif;
  font-size: 45px;
  color: green;
}

button {
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font: bold;
  font-size: large;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  transition-delay: 0.2s;
  background-color: rgb(0, 0, 0);
  color: rgb(248, 245, 244);
}

#Word {
  font-family: "Poppins", sans-serif;
  font: bold;
  font-size: 30px;
  color: rgb(52, 80, 88);
}
