
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    text-align: center;
    justify-content:  center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#282a36,#50fa7b,#44475a);
}

.center{
    width: 350px;
    background: black;
    border-radius: 20px;
}
input[type="text"]{
    height: 60px;
    width: 300px;
    margin-top: 40px;
    border-radius: 1px;
    border: 1px solid plum;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    background-color: white;
}

form .buttons{
    width: 300px;
    margin: 10px 25px 0 25px;
    padding: 10px 0;
}
input[type="button"]{
    width: 58px;
    color: #f8f8f2;
    height: 55px;
    margin: 5px;
    font-size: 22px;
    line-height: 55px;
    border-radius: 3px;
    border: 1px solid #f1fa8c;
    background: linear-gradient(#6272a4,#44475a);
}
input[type="button"]:hover{
    transition: .5s;
    background: linear-gradient(#ff79c6,#50fa7b);
}

input#clear{
    background: #ff5555;
    border: 1px solid #8be9fd;
    color: wheat;
}
input#equal{
    width: 275px;
    margin: 10px 0px 10px 0;
    font-size: 30px;
    color: white;
    background: #ff5555;
}